:root {
  --main-color: #f2f2f2;
  --font-border-color: #333333;
  --main-padding: 20px;
  --cell-size: 40px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: var(--font-border-color);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--main-color);
  padding: var(--main-padding);
  border: var(--font-border-color) 1px solid;
  gap: 10px;
}

.main-container {
  display: flex;
  padding: var(--main-padding);
}

.board {
  margin: 0 auto;
}

.cell {
  display: flex;
  padding: var(--main-padding);
  justify-content: center;
  background-color: var(--main-color);
  align-items: center;
  border: 1px solid var(--font-border-color);
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
}
